.container {
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 207, 142);
    border: 1px solid rgb(190, 213, 143);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(97, 136, 97);
    max-width: 600px;
    overflow-y: auto;
    max-height: 50vh;
    overflow: hidden;
}

h1,
h2, p {
    text-align: center;
}

/* styles for Header */

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    background-color: rgb(180, 215, 126);
    max-width: 100%;
    border-radius: 5px;
    height: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: none;
    color: darkgrey;
}