.container {
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(21, 21, 21, 0.8);
    max-width: 400px;
    overflow-y: auto;
    max-height: 50vh;
}

h1,
h2, p {
    text-align: center;
}
