.register-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.register-label {
  color: rgb(93, 93, 93);
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.register-input {
  background-color: rgba(187, 187, 187, 0.219);
  border-radius: 5px;
}

.register-btn {
  display: flex;
  background-color: #ff802b;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bolder;
  max-width: 100%;
  border-color: #ff802b;
}

.register-btn:hover {
  background-color: yellow;
  color: grey;
  border-color: yellow;
}

.register-btn-container {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
