form {
  margin-bottom: 30px;
}

.phonebook-input {
  border-radius: 5px;
  padding: 10px;
  border: none;
  width: 90%;
}

.phonebook-btn {
  border-radius: 5px;
  border: 1px solid rgb(90, 248, 130);
  padding: 5%;
  font-weight: bold;
  width: 70%;
  position: relative;
  cursor: pointer;
  background-color: rgb(90, 248, 130);
  margin-top: 5px;
  font-size: 12px;
  transition: transform 0.2s;
  color:darkgrey;
}

.phonebook-btn:hover {
  transform: scale(1.1);
}
