header {
    background-color: #333;
    /* Kolor tła nagłówka */
    color: #fff;
    /* Kolor tekstu w nagłówku */
    padding: 10px;
    /* Wewnętrzny odstęp nagłówka */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    /* Odstęp między elementami menu */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    /* Kolor linków w menu */
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    /* Podkreślenie linku po najechaniu myszką */
}